<div class="w3-container">

    <div class="w3-card-2 w3-white">

        <div class="w3-container w3-center w3-light-gray">
            <h2>История изменений продукта</h2>
        </div>

        <div class="w3-container">
            <br>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Наименование
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{productHistory.name}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <br>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Стоимость
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{productHistory.amount}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <br>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Краткое описание
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{productHistory.description}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <br>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Детальное описание
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{productHistory.detail}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <hr>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Идентификатор
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{productHistory.product_id}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <br>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    MineCraft команда
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{productHistory.command}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <br>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Цвет бейджа
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{productHistory.color.name}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <hr/>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Время изменения
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{productHistory.date}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <br>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Тип изменения
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{productHistory.action.name}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <hr/>
            <ul class="w3-pagination w3-border w3-round w3-counter"
                [ngStyle]="{'counter-reset': 'mc-counter ' + (productHistoryList.length + 1)}">
                <li *ngFor="let productHistoryItem of productHistoryList">
                    <a [ngClass]="{'w3-green': productHistory == productHistoryItem}"
                       (click)="productHistory = productHistoryItem"></a>
                </li>
            </ul>
            <hr/>
            <div class="w3-section w3-right">
                <a class="w3-btn w3-white" [routerLink]="['/admin/product', productId]">
                    К списку
                </a>
            </div>
        </div>
    </div>
</div>
