<form #productForm="ngForm" (ngSubmit)="save()">
    <div class="w3-container">

        <div class="w3-card-2 w3-white">

            <div class="w3-container w3-center w3-light-gray">
                <h2>Детальная информация о продукте</h2>
            </div>

            <div class="w3-container">
                <br>
                <div class="w3-row-padding">
                    <div class="w3-col s3 w3-right-align">
                        <label for="name">Наименование</label>
                        <i class="w3-xlarge"></i>
                    </div>
                    <div class="w3-col s9">
                        <input [(ngModel)]="product.name"
                               class="w3-input"
                               id="name"
                               name="name" required>
                    </div>
                </div>
                <br>
                <div class="w3-row-padding">
                    <div class="w3-col s3 w3-right-align">
                        <label for="amount">Стоимость</label>
                        <i class="w3-xlarge"></i>
                    </div>
                    <div class="w3-col s9">
                        <input [(ngModel)]="product.amount"
                               class="w3-input"
                               id="amount"
                               name="amount" required>
                    </div>
                </div>
                <br>
                <div class="w3-row-padding">
                    <div class="w3-col s3 w3-right-align">
                        <label for="description">Краткое описание</label>
                        <i class="w3-xlarge"></i>
                    </div>
                    <div class="w3-col s9">
                        <input [(ngModel)]="product.description"
                               class="w3-input"
                               id="description"
                               name="description" required>
                    </div>
                </div>
                <br>
                <div class="w3-row-padding">
                    <div class="w3-col s3 w3-right-align">
                        <label for="detail">Детальное описание</label>
                        <i class="w3-xlarge"></i>
                    </div>
                    <div class="w3-col s9">
                        <textarea [(ngModel)]="product.detail"
                                  class="w3-input"
                                  id="detail"
                                  name="detail" required>
                        </textarea>
                    </div>
                </div>
                <hr>
                <div class="w3-row-padding">
                    <div class="w3-col s3 w3-right-align">
                        <label for="id">Идентификатор</label>
                        <i class="w3-xlarge"></i>
                    </div>
                    <div class="w3-col s9">
                        <input [ngModel]="product.id"
                               class="w3-input"
                               id="id"
                               name="id"
                               readonly>
                    </div>
                </div>
                <br>
                <div class="w3-row-padding">
                    <div class="w3-col s3 w3-right-align">
                        <label for="command">MineCraft команда</label>
                        <i class="w3-xlarge"></i>
                    </div>
                    <div class="w3-col s9">
                        <input [(ngModel)]="product.command"
                               class="w3-input"
                               id="command"
                               name="command" required>
                    </div>
                </div>
                <br>
                <div class="w3-row-padding">
                    <div class="w3-col s3 w3-right-align">
                        <label for="color_id">Цвет бейджа</label>
                        <i class="w3-xlarge"></i>
                    </div>
                    <div class="w3-col s9">
                        <div class="w3-dropdown-hover">
                            <a class="w3-btn"
                               [ngClass]="'w3-' + (product.color || {color:''}).code"
                               id="color_id"
                               name="color_id">
                                {{(product.color || {color:''}).name || 'Выберите'}}
                            </a>
                            <div class="w3-dropdown-content w3-border">
                                <a (click)="product.color = color" *ngFor="let color of colorList">{{color.name}}</a>
                            </div>
                            <input type="hidden" [ngModel]="product.color.id" required name="color_id">
                        </div>
                    </div>
                </div>
                <br/>
                <div class="w3-section w3-right">
                    <button class="w3-btn w3-green" type="submit"
                            [disabled]="!productForm.form.valid">
                        Сохранить
                    </button>
                    <a class="w3-btn w3-white" routerLink="/admin/product">
                        К списку
                    </a>
                </div>
                <div class="w3-section">
                    <button class="w3-btn w3-red" type="button"
                            [disabled]="!product.id"
                            (click)="modal.style.display='block'">
                        Удалить
                    </button>
                    <button class="w3-btn w3-blue" type="button"
                            [disabled]="!product.id"
                            [routerLink]="['/admin/product', product.id, 'history']">
                        История
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="w3-modal" #modal>
    <div class="w3-modal-content">
        <div class="w3-card-2">
            <div class="w3-container w3-red">
                <span (click)="modal.style.display='none'" class="w3-closebtn">&times;</span>
                <h5>Удаление</h5>
            </div>
            <div class="w3-container">
                <div class="w3-container">
                    <p>Вы действительно хотите удалить запись?</p>
                </div>
                <div class="w3-section w3-right">
                    <button type="button" class="w3-btn w3-red" (click)="delete(product)">Удалить</button>
                    <button type="button" class="w3-btn w3-white" (click)="modal.style.display='none'">Отменить</button>
                </div>
            </div>
        </div>
    </div>
</div>