<div class="w3-container">

    <div class="w3-card-2 w3-white">

        <div class="w3-container w3-center w3-light-gray">
            <h2>Список продуктов</h2>
        </div>

        <div class="w3-container">
            <br>
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                <tr>
                    <th>№</th>
                    <th>Наименование</th>
                    <th>Стоимость</th>
                    <th>Цвет</th>
                    <th>Краткое описание</th>
                </tr>
                <tr *ngFor="let product of productList" (click)="detail(product)">
                    <td>{{product.id}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.amount}}</td>
                    <td>{{product.color.name}}</td>
                    <td>{{product.description}}</td>
                </tr>
                <tr *ngIf="!listLoad && productList.length == 0">
                    <td colspan="5" class="w3-center">Нет записей</td>
                </tr>
                <tr *ngIf="listLoad">
                    <td colspan="5" class="w3-center">Загрузка...</td>
                </tr>
            </table>
            <br>
            <div class="w3-section w3-right w3-light-gray">
                <a class="w3-btn w3-green" routerLink='/admin/product/create'>Создать</a>
            </div>
        </div>
    </div>
</div>