<div class="w3-container">

    <div class="w3-card-2 w3-white">

        <div class="w3-container w3-center w3-light-gray">
            <h2>Детальная информация об оплате</h2>
        </div>

        <div class="w3-container">
            <br>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Наименование
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{donation.user_login}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <br>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Статус
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{donation.status}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <br>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Продукт
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{donation.product_history.name}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <br>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Стоимость
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{donation.product_history.amount}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <hr>
            <div class="w3-row-padding">
                <div class="w3-col s3 w3-right-align">
                    Идентификатор
                    <i class="w3-xlarge"></i>
                </div>
                <div class="w3-col s9">
                    {{donation.id}}
                    <i class="w3-xlarge"></i>
                </div>
            </div>
            <br>
            <!--<div class="w3-row-padding">-->
                <!--<div class="w3-col s3 w3-right-align">-->
                    <!--<label for="command">MineCraft команда</label>-->
                    <!--<i class="w3-xlarge"></i>-->
                <!--</div>-->
                <!--<div class="w3-col s9">-->
                    <!--<input [(ngModel)]="product.command"-->
                           <!--class="w3-input"-->
                           <!--id="command"-->
                           <!--name="command" required>-->
                <!--</div>-->
            <!--</div>-->
            <!--<br>-->
            <!--<div class="w3-row-padding">-->
                <!--<div class="w3-col s3 w3-right-align">-->
                    <!--<label for="color_id">Цвет бейджа</label>-->
                    <!--<i class="w3-xlarge"></i>-->
                <!--</div>-->
                <!--<div class="w3-col s9">-->
                    <!--<div class="w3-dropdown-hover">-->
                        <!--<a class="w3-btn"-->
                           <!--[ngClass]="'w3-' + (product.color || {color:''}).name"-->
                           <!--id="color_id"-->
                           <!--name="color_id">-->
                            <!--{{(product.color || {color:''}).name || 'Выберите'}}-->
                        <!--</a>-->
                        <!--<div class="w3-dropdown-content w3-border">-->
                            <!--<a (click)="product.color = color" *ngFor="let color of colorList">{{color.name}}</a>-->
                        <!--</div>-->
                        <!--<input type="hidden" [ngModel]="product.color.id" required name="color_id">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<br/>-->
            <div class="w3-section w3-right">
                <!--<button class="w3-btn w3-green" type="submit"-->
                        <!--[disabled]="!productForm.form.valid">-->
                    <!--Сохранить-->
                <!--</button>-->
                <a class="w3-btn w3-white" routerLink="/admin/donation">
                    К списку
                </a>
            </div>
            <!--<div class="w3-section">-->
                <!--<button class="w3-btn w3-red" type="button"-->
                        <!--[disabled]="!product.id"-->
                        <!--(click)="modal.style.display='block'">-->
                    <!--Удалить-->
                <!--</button>-->
            <!--</div>-->
        </div>
    </div>
</div>
