<div class="w3-container">

    <div class="w3-card-2 w3-white">

        <div class="w3-container w3-center w3-light-gray">
            <h2>Список оплат</h2>
        </div>

        <div class="w3-container">
            <br>
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                <tr>
                    <th>№</th>
                    <th>Пользователь</th>
                    <th>Продукт</th>
                    <th>Стоимость</th>
                    <th>Статус</th>
                </tr>
                <tr *ngFor="let donation of donationList" (click)="detail(donation)">
                    <td>{{donation.id}}</td>
                    <td>{{donation.user_login}}</td>
                    <td>{{donation.product_history.name}}</td>
                    <td>{{donation.product_history.amount}}</td>
                    <td>{{donation.status}}</td>
                </tr>
                <tr *ngIf="!listLoad && donationList.length == 0">
                    <td colspan="6" class="w3-center">Нет записей</td>
                </tr>
                <tr *ngIf="listLoad">
                    <td colspan="6" class="w3-center">Загрузка...</td>
                </tr>
            </table>
            <br>
            <div class="w3-section w3-right w3-light-gray">
                <a class="w3-btn w3-green" routerLink='/admin/product/create'>Создать</a>
            </div>
        </div>
    </div>
</div>