<div class="w3-row-padding">
    <div class="w3-col m4 w3-custom-zoom w3-padding-16" *ngFor="let product of productList">
        <div class="w3-container">
            <div class="w3-row">
                <div class="w3-half w3-right w3-{{product.color}} w3-text-shadow">
                    <div class="w3-layout-container w3-center">
                        <div class="w3-layout-cell w3-xxlarge w3-layout-middle w3-right-align" data-style="width:50%">
                            <b>{{product.amount_round}}</b>
                        </div>
                        <div class="w3-layout-cell w3-small w3-layout-middle w3-left-align" data-style="width:50%">
                            <i>.{{product.amount_fract}}</i><br/><b>грн.</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w3-row w3-{{product.color}}">
                <h3 class="w3-center w3-xxlarge">{{product.name}}</h3>
            </div>
            <div class="w3-row-padding w3-dark-gray">
                <p>{{product.desc}}</p>
                <hr>
                <div class="w3-section">
                    <button class="w3-btn-block w3-round w3-center w3-slim"
                            [ngClass]="'w3-' + product.color"
                            (click)="onSelect(product)">
                        <b>Оплатить</b>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
