<div class="w3-container">
    <form class="w3-card-4"
          (ngSubmit)="donate()" #form>
        <div class="w3-container w3-center w3-light-gray">
            <h2>{{product.name}}</h2>
        </div>
        <div class="w3-container w3-white">
            <b>Описание товара</b>
            <div>{{product.description}}</div>
            <div class="w3-section">
                <label for="user_login"><b>Параметры оплаты</b></label>
                <input id="user_login" name="user_login" [disabled]="disabled"
                       type="text" [(ngModel)]="user_login" required
                       class="w3-input w3-border w3-margin-bottom"
                       placeholder="Имя пользователя в игре">

                <input class="w3-check" [disabled]="disabled"
                       [(ngModel)]="remember"
                       type="checkbox" checked="checked"
                       id="remember" name="remember">
                <label for="remember">Запомнить меня</label>

            </div>
        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button (click)="onBack()"
                    type="button"
                    class="w3-btn w3-red">
                Отменить
            </button>
            <button type="submit"
                    [disabled]="disabled || !form.checkValidity()"
                    class="w3-right w3-padding w3-btn w3-green">
                Оплатить
            </button>
        </div>
    </form>
</div>
