<div class="w3-container">
    <div class="w3-card-4">
        <div class="w3-container w3-center w3-light-gray">
            <h2>Заказ №{{donate.order_id}}</h2>
        </div>
        <div class="w3-container w3-white">
            <div class="w3-container w3-center">
                <span class="fa w3-animate-zoom w3-third"
                      [ngClass]="[statusClass, colorClass]"
                      style="font-size:200px;"></span>
                <div class="w3-twothird w3-xlarge">
                    <div class="w3-padding-24" >Статус: <b [ngClass]="colorClass">{{statusList[statusItem] || statusList['unknown']}}</b></div>
                    <div class="w3-text-green w3-padding-24">Желаем приятного время провождения в игре!</div>
                </div>
            </div>
        </div>
        <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
            <button (click)="onBack()"
                    type="button"
                    class="w3-btn w3-white">
                На главную
            </button>
        </div>
    </div>
</div>
