<div class="w3-top w3-black">
    <div class="w3-content w3-800px">
        <ul class="w3-navbar">
            <li>
                <a routerLink="/" routerLinkActive="w3-green">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li class="w3-navitem">
                Minecraft
            </li>
            <li class="w3-right" *ngIf="whoami == 'ADMIN'">
                <a routerLink="/admin">Админка</a>
            </li>
        </ul>
    </div>
    <div class="w3-clear"></div>
</div>
<br>
<br>
<div class="w3-content w3-padding-32 w3-800px">
    <router-outlet></router-outlet>
</div>
