<div class="w3-container">
    <div class="w3-panel w3-light-grey">
        <span class="w3-text-green fa fa-terminal" style="font-size:150px; line-height:0.2em; opacity:0.6"></span>
        <form class="w3-content" (submit)="send()">
            <input type="text" name="command" id="command"
                   class="w3-input w3-border w3-margin-bottom"
                   [(ngModel)]="command" placeholder="Введите команду">
            <button type="submit" class="w3-right w3-padding w3-btn w3-green">
                Отправить
            </button>
        </form>
        <pre class="w3-padding-8" style="overflow: auto; width: 100%">{{response}}</pre>
    </div>
</div>
