<div class="w3-top w3-black">
    <div class="w3-content w3-800px">
        <ul class="w3-navbar">
            <li><a routerLink="/admin/dashboard" routerLinkActive="w3-green"><i class="fa fa-home"></i></a></li>
            <li><a routerLink="/admin/product" routerLinkActive="w3-green">Продукты</a></li>
            <li><a routerLink="/admin/donation" routerLinkActive="w3-green">Оплаты</a></li>
            <li><a routerLink="/admin/console" routerLinkActive="w3-green">Консоль</a></li>
            <li class="w3-right"><a (click)="logout()"><i class="fa fa-sign-out"></i></a></li>
            <li class="w3-right"><a routerLink="/store">Магазин</a></li>
        </ul>
    </div>
</div>
<br><br>
<div class="w3-content w3-padding-32 w3-800px">
    <router-outlet></router-outlet>
</div>
