<div class="w3-container">

    <div class="w3-card-2 w3-white">

        <div class="w3-container w3-center w3-light-gray">
            <h2>Добро пожаловать<br>в административную<br>панель магазина</h2>
        </div>
    </div>
</div>
