<br>
<div class="w3-content" style="max-width:800px">
    <div class="w3-container">
        <form class="w3-card-4"
              (ngSubmit)="login()" #form>
            <div class="w3-container w3-center w3-light-gray">
                <h2>Панель управления</h2>
            </div>
            <div class="w3-container w3-white">
                <h4>Требуется авторизация</h4>
                <div>Для входа в панель управления необходимо ввести свой логин и пароль</div>
                <div class="w3-section">
                    <input type="text" name="username" required
                           class="w3-input w3-border w3-margin-bottom"
                           [(ngModel)]="username" placeholder="Логин">
                    <input type="password" name="password" required
                           class="w3-input w3-border w3-margin-bottom"
                           [(ngModel)]="password" placeholder="Пароль">
                </div>
            </div>
            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <button class="w3-btn w3-white" type="button" (click)="onBack()">На главную</button>
                <button type="submit"
                        [disabled]="disabled || !form.checkValidity()"
                        class="w3-right w3-padding w3-btn w3-green">
                    Войти
                </button>
            </div>
        </form>
    </div>
</div>