// base config
$cubeSize: 64;
$halfCubeSize: $cubeSize / 2;
$cubeDivision: 16;
$sizePixel: $cubeSize / $cubeDivision;

// color array
$result-top: ();
$result-face: ();
$result-bottom: ();
$shadow-top: '';
$shadow-face: '';
$shadow-bottom: '';

// set color face
$side: (
                ('74b44a', '76b64c', '73b349', '66a63c', '66a63c', '6faf45', '5f9f35', '6cac42', '7ebe54', '76b64c', '6aaa40', '67a73d', '69a93f', '61a137', '509026', '6dad43'),
                ('75b54b', '6cac42', '8ab95a', '81b051', '83b253', '593d29', '68a83e', '62a238', '5f9f35', '93c263', '90bf60', '73b349', '61a137', '6cac42', '67a73d', '6bab41'),
                ('8dbc5d', '593d29', '9ccb6c', '64a43a', '69a93f', '593d29', '70b046', '593d29', '74b44a', '7fbf55', '92c162', '97c667', '593d29', '57972d', '60a036', '593d29'),
                ('593d29', '6c6c6c', '593d29', '593d29', '71b147', '593d29', '593d29', '593d29', '5f9f35', '593d29', '6dad43', '593d29', '79553a', '593d29', '593d29', '79553a'),
                ('966c4a', '79553a', '966c4a', 'b9855c', '593d29', '966c4a', '79553a', '79553a', '593d29', '593d29', '593d29', '6c6c6c', '79553a', '966c4a', '593d29', '79553a'),
                ('79553a', '593d29', '966c4a', '966c4a', '79553a', '966c4a', '593d29', '593d29', '593d29', '79553a', '79553a', '593d29', '79553a', '79553a', '79553a', 'b9855c'),
                ('b9855c', '593d29', '79553a', '79553a', '878787', '79553a', '79553a', 'b9855c', 'b9855c', '79553a', 'b9855c', 'b9855c', '79553a', '966c4a', '79553a', '966c4a'),
                ('b9855c', '79553a', 'b9855c', 'b9855c', '966c4a', '966c4a', '79553a', '79553a', '966c4a', '593d29', '966c4a', '966c4a', '79553a', '79553a', '966c4a', '966c4a'),
                ('966c4a', '79553a', '79553a', '966c4a', '79553a', '966c4a', '79553a', '593d29', '79553a', '966c4a', '966c4a', '79553a', '79553a', '79553a', '593d29', '79553a'),
                ('966c4a', '966c4a', '593d29', '79553a', '79553a', '593d29', '593d29', '79553a', '79553a', '79553a', '79553a', '79553a', 'b9855c', 'b9855c', '79553a', '966c4a'),
                ('966c4a', '966c4a', '79553a', 'b9855c', 'b9855c', '79553a', 'b9855c', '966c4a', '593d29', 'b9855c', 'b9855c', '79553a', '966c4a', '966c4a', '878787', '79553a'),
                ('966c4a', '79553a', '79553a', '966c4a', '966c4a', 'b9855c', '79553a', '966c4a', '6c6c6c', '966c4a', '966c4a', '79553a', '593d29', '966c4a', '79553a', '593d29'),
                ('79553a', '593d29', '966c4a', '79553a', '966c4a', '966c4a', 'b9855c', '79553a', '79553a', '79553a', '79553a', '79553a', '79553a', '79553a', 'b9855c', 'b9855c'),
                ('79553a', '966c4a', '79553a', '79553a', '593d29', '79553a', '966c4a', '966c4a', '79553a', '593d29', 'b9855c', '593d29', '79553a', 'b9855c', '966c4a', '966c4a'),
                ('966c4a', '79553a', '593d29', 'b9855c', '79553a', '593d29', '79553a', '593d29', '79553a', '79553a', '79553a', '593d29', '79553a', '79553a', '966c4a', '966c4a'),
                ('966c4a', '79553a', 'b9855c', '966c4a', '966c4a', '79553a', '878787', '966c4a', '966c4a', '966c4a', '79553a', '79553a', '966c4a', '966c4a', '79553a', '593d29')
);

$top: (
                ('74b34b', '76b54c', '73b349', '67a63d', '67a63d', '6fad45', '5f9e36', '6cab43', '7ebd55', '76b54c', '6aa840', '67a63d', '6aa840', '62a138', '508f27', '6cab43'),
                ('74b34b', '6cab43', '8ab85a', '83b053', '83b053', '5f9e36', '67a63d', '62a138', '5f9e36', '95c265', '90bd60', '73b349', '62a138', '6cab43', '67a63d', '6cab43'),
                ('8dba5d', 'a4d173', '9dc96d', '65a33b', '6aa840', '6aa840', '71b046', '71b046', '74b34b', '7ebd55', '92bf62', '98c468', '67a63d', '57962d', '5f9e36', 'a2cf72'),
                ('56942c', '65a33b', '6aa840', '77b54e', '72b048', '79b84f', '5d9c33', '5b9931', '5f9e36', '62a138', '6cab43', '77b54e', '6fad45', '6cab43', '6fad45', '5d9c33'),
                ('83c259', '62a138', '98c468', '62a138', '97c466', '9ac769', '73a142', '97c466', 'a4d173', '55942b', '5f9e36', '92bf62', '95c265', '5d9c33', '67a63d', '6cab43'),
                ('79b84f', '79b84f', '58962f', '90bd60', '62a138', '76b54c', '74b34b', '86b356', '67a63d', '74b34b', '67a63d', '62a138', '58962f', '67a63d', '6fad45', '74b34b'),
                ('5d9c33', '86b356', '8fbd5e', '72b048', '72b048', '62a138', '6aa840', '5f9e36', '65a33b', '67a63d', '9fcc6e', '97c466', '72b048', '92bf62', '77b54e', '79a649'),
                ('6fad45', '5d9c33', '88b557', '6cab43', '71b046', '5d9c33', '83c259', '65a33b', '77b54e', '98c468', '67a63d', '62a138', '6fad45', '8ab85a', '5f9e36', '95c265'),
                ('5d9c33', '86b356', 'a2cf72', '95c265', '97c466', '62a138', '98c468', '86b356', '9fcc6e', '95c265', '62a138', '72b048', '72b048', '7dab4d', '5d9c33', '5d9c33'),
                ('77b54e', '62a138', 'a2cf72', '6cab43', '6cab43', '83b053', '95c265', '5f9e36', '67a63d', '72b048', '72b048', '89c75f', '6fad45', '9fcc6e', '6fad45', '62a138'),
                ('77b54e', '88b559', '77b54e', '8fbd5e', '62a138', 'a2cf72', '6fad45', '7dab4d', 'acd97c', '5a992f', '88c75d', '62a138', '6fad45', '67a63d', '67a63d', '6fad45'),
                ('5d9c33', '98c468', '67a63d', '8fbd5e', '77b54e', '65a33b', '72b048', '6fad45', '77b54e', '72b048', '6cab43', '5b9931', '5f9e36', '5f9e36', '5d9c33', '6aa840'),
                ('a4d173', '77b54e', '62a138', '6aa840', '79b84f', '72b048', '65a33b', '5b9931', '46851c', '72b048', '6aa840', '5d9c33', '8ab85a', '8fbd5e', '5a992f', '65a33b'),
                ('a2cf72', '92bf62', '56942c', '55942b', '5d9c33', '5f9e36', '62a138', 'aedb7d', '8ab85a', 'b1de81', '92bf62', '7cba52', '80bf56', '67a63d', '92bf62', '9ac769'),
                ('8dba5d', '8ab85a', '73b349', '5b9931', '9fcc6e', '95c265', '74b34b', '74b34b', '5d9c33', '74b34b', '74b34b', '67a63d', '95c265', '88b557', '6cab43', '8ab85a'),
                ('5d9c33', '76b54c', '73b349', '508f27', '83c259', '79b84f', '74b34b', 'a2cf72', 'aad67a', '5d9c33', '62a138', '62a138', '65a33b', '71b046', '67a63d', '7ebd55')
);

$bottom: (
                ('b8845c', '946a4a', '946a4a', '78533a', '78533a', 'b8845c', '946a4a', '946a4a', '78533a', '78533a', '573c29', '78533a', '78533a', 'b8845c', '78533a', 'b8845c'),
                ('78533a', '946a4a', '573c29', '78533a', '78533a', '946a4a', '858585', '573c29', '78533a', 'b8845c', '946a4a', '78533a', '78533a', '946a4a', '573c29', '573c29'),
                ('b8845c', '78533a', '78533a', '573c29', 'b8845c', '78533a', '78533a', '78533a', 'b8845c', '78533a', '78533a', '78533a', '573c29', '573c29', 'b8845c', '78533a'),
                ('946a4a', '6b6b6b', 'b8845c', '78533a', '946a4a', '573c29', '78533a', 'b8845c', '946a4a', '946a4a', '78533a', '946a4a', '78533a', 'b8845c', '946a4a', '78533a'),
                ('946a4a', '78533a', '946a4a', 'b8845c', '573c29', '946a4a', 'b8845c', 'b8845c', '946a4a', '573c29', '78533a', '6b6b6b', '78533a', '946a4a', '573c29', '78533a'),
                ('78533a', '573c29', '946a4a', '946a4a', '78533a', '946a4a', '573c29', '573c29', '573c29', '78533a', '78533a', '573c29', '78533a', '78533a', '78533a', 'b8845c'),
                ('b8845c', '573c29', '78533a', '78533a', '858585', '78533a', '78533a', 'b8845c', 'b8845c', '78533a', 'b8845c', 'b8845c', '78533a', '946a4a', '78533a', '946a4a'),
                ('b8845c', '78533a', '78533a', '78533a', '78533a', '78533a', '946a4a', '573c29', '946a4a', '573c29', '946a4a', '946a4a', '78533a', '78533a', '946a4a', '946a4a'),
                ('946a4a', '78533a', '78533a', '946a4a', '78533a', '946a4a', '78533a', '573c29', '78533a', '946a4a', '946a4a', '78533a', '78533a', '78533a', '573c29', '78533a'),
                ('946a4a', '946a4a', '573c29', '78533a', '78533a', '573c29', '573c29', '78533a', '78533a', '78533a', '78533a', '78533a', 'b8845c', 'b8845c', '78533a', '946a4a'),
                ('946a4a', '946a4a', '78533a', 'b8845c', 'b8845c', '78533a', 'b8845c', '946a4a', '573c29', 'b8845c', 'b8845c', '78533a', '946a4a', '946a4a', '858585', '78533a'),
                ('946a4a', '78533a', '78533a', '946a4a', '946a4a', 'b8845c', '78533a', '946a4a', '6b6b6b', '946a4a', '946a4a', '78533a', '573c29', '946a4a', '78533a', '573c29'),
                ('78533a', '573c29', '946a4a', '78533a', '946a4a', '946a4a', 'b8845c', '78533a', '78533a', '78533a', '78533a', '78533a', '78533a', '78533a', 'b8845c', 'b8845c'),
                ('78533a', '946a4a', '78533a', '78533a', '735744', '78533a', '946a4a', '946a4a', '78533a', '573c29', 'b8845c', '573c29', '78533a', 'b8845c', '946a4a', '946a4a'),
                ('946a4a', '78533a', '573c29', 'b8845c', '78533a', '573c29', '78533a', '573c29', '78533a', '78533a', '78533a', '573c29', '78533a', '78533a', '946a4a', '946a4a'),
                ('946a4a', '78533a', 'b8845c', '946a4a', '946a4a', '78533a', '858585', '946a4a', '946a4a', '946a4a', '78533a', '78533a', '946a4a', '946a4a', '78533a', '573c29')
);

@for $i from 0 to length($side) {
  $line: $sizePixel * $i;
  $lineHex: nth($side, $i+1);
  @for $j from 0 to length($lineHex) {
    $col: $sizePixel * $j;
    $Hex: nth($lineHex, $j+1);
    $shadow-face: $col + px + ' ' + $line + px + ' 0 #' + $Hex;
    $result-face: append($result-face, $shadow-face, comma);
  }
}

@for $i from 0 to length($top) {
  $line: $sizePixel * $i;
  $lineHex: nth($top, $i+1);
  @for $j from 0 to length($lineHex) {
    $col: $sizePixel * $j;
    $Hex: nth($lineHex, $j+1);
    $shadow-top: $col + px + ' ' + $line + px + ' 0 #' + $Hex;
    $result-top: append($result-top, $shadow-top, comma);
  }
}

@for $i from 0 to length($bottom) {
  $line: $sizePixel * $i;
  $lineHex: nth($bottom, $i+1);
  @for $j from 0 to length($lineHex) {
    $col: $sizePixel * $j;
    $Hex: nth($lineHex, $j+1);
    $shadow-bottom: $col + px + ' ' + $line + px + ' 0 #' + $Hex;
    $result-bottom: append($result-bottom, $shadow-bottom, comma);
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  //background: radial-gradient(ellipse at center,  #000 15%,#fff 98%);
  overflow: hidden;
}

.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$halfCubeSize + px;
  margin-top: -$halfCubeSize + px;
  width: $cubeSize + px;
  perspective: 800px;
  perspective-origin: 50% -100px;
}

.stage {
  transform-style: preserve-3d;
  perspective-origin: 50% 50%;
}

//
// cube
//
.cube {
  position: relative;
  width: $cubeSize + px;
  height: $cubeSize + px;
  transform-style: preserve-3d;

  div {
    position: absolute;
    width: $cubeSize + px;
    height: $cubeSize + px;
    bottom: 0;
  }

  .back {
    transform: translateZ(-$halfCubeSize + px) rotateY(180deg);
  }
  .right {
    transform: rotateY(-270deg) translateX($halfCubeSize + px);
    transform-origin: top right;
  }
  .left {
    transform: rotateY(270deg) translateX(-$halfCubeSize + px);
    transform-origin: center left;
  }
  .top {
    transform: rotateX(-90deg) translateY(-$halfCubeSize + px);
    transform-origin: top center;
  }
  .bottom {
    transform: rotateX(90deg) translateY($halfCubeSize + px);
    transform-origin: bottom center;
  }
  .front {
    transform: translateZ($halfCubeSize + px);
  }
}

//
// cube texture
//

.cube-top {
  &:before {
    content: '';
    display: block;
    width: $sizePixel + px;
    height: $sizePixel + px;
    background-color: #74b34b;
    box-shadow: $result-top;
  }
}

.cube-bottom {
  &:before {
    content: '';
    display: block;
    width: $sizePixel + px;
    height: $sizePixel + px;
    background-color: #b8845c;
    box-shadow: $result-bottom;
  }
}

.cube-face {
  &:before {
    content: '';
    display: block;
    width: $sizePixel + px;
    height: $sizePixel + px;
    background-color: #74b44a;
    box-shadow: $result-face;
  }
}

//
// animation
//
@keyframes spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(360deg);
  }
}

.stage {
  animation: spin 5s infinite linear;
}
