@keyframes clouds-loop {
  to {
    background-position: -1920px 0;
  }
}

.w3-body {
  -webkit-background-size: initial;
  -moz-background-size: initial;
  -o-background-size: initial;
  background-size: initial;
  background: lightskyblue url(../images/clouds.png) repeat-x fixed;
  overflow: auto !important;
  animation: clouds-loop 40s infinite linear;
}

.w3-counter {
  counter-reset: mc-counter;
}

.w3-counter li a:before {
  counter-increment: mc-counter -1;
  content: counter(mc-counter);
}

.w3-custom-zoom {
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  transition: 0.5s all;
}

.w3-custom-zoom:hover {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 1;
  border: none;
}

.w3-800px {
  max-width: 800px;
}